@page
@model Bertoni.Transversal.Response<Bertoni.Service.Entity.AlbumOutputModel>
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @if (Model != null)
        {
            @Html.DropDownListFor(m => 0, new SelectList(Model.List, "Id", "Title"), "Select album", htmlAttributes: new { @class = "form-control", id = "Country" })
        }
        </div>
